:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --primary-background-color: #F5F5F5;
    --secondary-background-color: #F5F4FA;
    --black-background-color: #2F303A;
    --accent-color: #2196F3;
    --white-text-color: #FFFFFF;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --logo-accent-color: #000000;

}

.page {
   background-color: var(--primary-background-color); 
   color: var(--primary-text-color);
}

.logo {
    color: var(--accent-color);
}

.logo .logo-accent {
    color: var(--logo-accent-color);
}

.list {
    list-style: none;
}

/* syte-nav */
.site-nav .link {
    color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.contact-nav .link {
    color: var(--primary-text-color);
}

.contact-nav .link:hover,
.contact-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

/* hero */
.hero {
    background-color: var(--black-background-color);
    color: var(--white-text-color);
}
/* button */
.button {
    background-color:var(--accent-color);
    color: var(--white-text-color);
}

.button:hover,
.button:focus {
    color: #188CE8;
}

/* button portfolio */
.button-portfolio {
    color: var(--title-text-color);
    background-color: var(--secondary-background-color);
}

.button-portfolio:hover,
.button-portfolio:focus {
    color: var(--white-text-color);
    background-color: var(--accent-color);
}
/* section */
.section-title {
    color: var(--title-text-color);
}

/* work list*/

/* team */

/* footer */
.footer {
    background-color: var(--black-background-color);

}
.logo .footer-accent {
    color:  var(--white-text-color);

}
.footer-items {
    color: var(--white-text-color);
}

.footer-contact {
    color: var(--footer-contact-color);
}